/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');
/* font-family: 'Inter', sans-serif; */

body {
    font-family: 'Inter', sans-serif;
    font-size: 62.5%;
    padding: 5% 10%;
}

header {
    margin-bottom: 4%;
}

.container-fluid {
    padding: 0;
}

.nav-item {
    padding-left: 3em;
}

.nav-link {
    color: hsl(236, 13%, 42%);
    font-size: 1.5em;
}

.offcanvas-header {
    font-size: 3em;
}

.nav-link:hover {
    color: hsl(5, 85%, 63%);
}

main img {
    width: 100%;
    margin-bottom: 3em;
}

h1 {
    font-size: 6em;
    font-weight: 800;
    line-height: 1;
    margin: 0;
}

main p {
    color: hsl(236, 13%, 42%);
    font-size: 1.6em;
}

main .btn {
    border-radius: 0;
    background-color: hsl(5, 85%, 63%);
    color: hsl(36, 100%, 99%);
    font-size: 1.3em;
    font-weight: 700;
    letter-spacing: 0.3em;
    padding: 1em 2.5em;
    text-transform: uppercase;
}

main .btn:hover {
    background-color: hsl(240, 100%, 5%);
    color: hsl(36, 100%, 99%);
}

.aside-articles-container {
    background-color: hsl(240, 100%, 5%);
    height: 100%;
    padding: 3em 2.5em;
}

.aside-header {
    color: hsl(35, 77%, 62%);
    font-size: 4em;
    font-weight: 700;
    margin-bottom: 0.5em;
    width: 100%;
}

.aside a {
    color: hsl(36, 100%, 99%);
    font-size: 2em;
    font-weight: 700;
    text-decoration: none;
}

.aside a:hover {
    color: hsl(35, 77%, 62%);
}

.aside-article-paragraph {
    color: hsl(233, 8%, 79%);
    line-height: 1.8;
    margin: 0;
}

aside hr {
    color: hsl(233, 8%, 79%);
    border-width: 1.3px;
    width: 100%;
}